<script lang="ts">
    import Sidebar from "$lib/components/sidebar/Sidebar.svelte";
    import Content from "$lib/components/page/Content.svelte";
    import SetupGuard from "$lib/components/page/SetupGuard.svelte";
    import SidebarMode from "$lib/components/sidebar/SidebarMode";
    import Chat from "$lib/components/chat/Chat.svelte";
    import {currentChat} from "$lib/stores";
    import {onMount} from "svelte";

    onMount(() => currentChat.set(null));
</script>
<SetupGuard>
    <Sidebar currentPage="Chat" mode={SidebarMode.CHAT}/>
    <Content>
        <Chat/>
    </Content>
</SetupGuard>