<script lang="ts">
    import {invoke} from "@tauri-apps/api";

    let discovery = false;
    let action = "Start Discovery";

    function toggleDiscovery() {
        discovery = !discovery;
        action = discovery ? "Stop Discovery" : "Start Discovery";
        let command = discovery ? "start_discovery" : "stop_discovery";

        invoke(command);
    }
</script>

<button on:click={toggleDiscovery}>{action}</button>

<style>
    button {
        margin: 0.5rem;
    }
</style>