<script lang="ts">
    import UserInfo from "$lib/components/sidebar/UserInfo.svelte";
    import Breadcrumb from "$lib/components/sidebar/Breadcrumb.svelte";
    import ChatInfoBox from "$lib/components/chat/ChatInfoBox.svelte";
    import {SidebarMode} from "$lib/components/sidebar/SidebarMode";
    import type ChatInfo from "$lib/components/chat/ChatInfo";
    import {invoke} from "@tauri-apps/api";
    import {listen} from "@tauri-apps/api/event";
    import {currentChat} from "$lib/stores";

    export let currentPage = "";
    export let mode: SidebarMode;

    let chatInfos: ChatInfo[] = [];

    $: chatInfos = chatInfos.sort((a, b) => {
        if (a.lastMessage?.created && b.lastMessage?.created) {
            return b.lastMessage.created - a.lastMessage.created;
        } else {
            return 0;
        }
    });


    listen('new-peer', (event) => {
        const chatInfo: ChatInfo = <ChatInfo>event.payload;
        chatInfos = [...chatInfos, chatInfo];
    });
</script>

<nav>
    <header>
        <Breadcrumb path={currentPage}/>
        <UserInfo/>
        <!--        <DiscoveryControl/>-->
    </header>
    <section class="message-list">
    {#if mode === SidebarMode.CHAT}
        {#await invoke("get_chat_infos")}
            <div>loading...</div>
        {:then chatInfos}
            {#each chatInfos as chatInfo}
                <ChatInfoBox {chatInfo}/>
            {/each}
        {/await}

    {/if}
    </section>
    <div class="filler"  on:click={() => currentChat.set(null)}></div>
    <slot/>
</nav>

<style lang="scss">
  $pad: 0.5rem;

  nav {
    display: flex;
    flex-direction: column;
    float: left;

    margin: 0;
    padding: $pad;

    height: calc(100vh - $pad * 2);
    width: calc(200px - $pad * 2 - 1px);

    border-right: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .message-list {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  .filler {
    display: block;
    flex-grow: 1;
  }
</style>