<script lang="ts">
    import {invoke} from "@tauri-apps/api";
</script>

<section>
    {#await invoke('get_host_info')}
        <p>Loading...</p>
    {:then host_info}
        <h3>Hello, {host_info.name}</h3>
        <a href="/settings">Change name</a>
    {/await}
</section>

<style lang="scss">
  section {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    color: #666;
    cursor: pointer;
  }
</style>