<script lang="ts">
    import type ChatInfo from "$lib/components/chat/ChatInfo";
    import {currentChat} from "$lib/stores";
    import {invoke} from "@tauri-apps/api";
    import {listen} from "@tauri-apps/api/event";

    export let chatInfo: ChatInfo;

    function clicked(event) {
        event.stopPropagation();
        currentChat.set(chatInfo);
    }

    listen('new-message', () => {
        console.log("update chatinfo");
        invoke<ChatInfo>("get_chat_info", {userId: chatInfo.user.id})
            .then((newChatInfo) => chatInfo = newChatInfo);
    });
</script>

<section on:click={clicked}>
    <h3>{chatInfo.user.name}</h3>
    {#if chatInfo.lastMessage}
        {#await chatInfo.user.id === chatInfo.lastMessage.userId ? {name: chatInfo.user.name} : invoke('get_user', {userId: chatInfo.lastMessage.userId})}
            <a>Loading...</a>
        {:then user}
            <a><b>{user.name}</b>: {chatInfo.lastMessage.content}</a>
        {/await}
    {:else}
        <a>Start a conversation</a>
    {/if}
</section>

<style lang="scss">
  section {
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  section:hover {
    background-color: #fff;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    color: #333;
    text-decoration: none;
  }
</style>