<script lang="ts">
    import type ChatInfo from "$lib/components/chat/ChatInfo";
    import {currentChat} from "$lib/stores";

    let chatInfo: ChatInfo | null;

    currentChat.subscribe((newChatInfo) => {
        chatInfo = newChatInfo;
    });
</script>
<header>
    <h3>{chatInfo?.user.name}</h3>
    <hr />
</header>