<script lang="ts">
    import MessageBox from "$lib/components/chat/MessageBox.svelte";
    import ChatInfoTop from "$lib/components/chat/ChatInfoTop.svelte";
    import Inputs from "$lib/components/chat/Inputs.svelte";
    import type Message from "$lib/components/chat/Message";
    import {invoke} from "@tauri-apps/api";
    import type ChatInfo from "$lib/components/chat/ChatInfo";
    import MessageType from "$lib/components/chat/MessageType";
    import ContentType from "$lib/components/chat/ContentType";
    import {currentChat} from "$lib/stores";
    import {listen} from "@tauri-apps/api/event";
    import {afterUpdate} from "svelte";

    let currentChatInfo: ChatInfo | null;
    let mainElement: HTMLElement;

    currentChat.subscribe((chatInfo) => {
        currentChatInfo = chatInfo;
    });

    let messages: Message[] = [];
    $: sortedMessages = [...messages];

    let input;

    async function sendMessage() {
        const message: Message = <Message>{
            id: await invoke('get_new_nanoid'),
            userId: currentChatInfo?.user.id,
            messageType: MessageType.SENT.toString(),
            contentType: ContentType.TEXT.toString(),
            created: Date.now(),
            content: input,
        };

        await invoke('send_message', {message: message});
        messages = [...messages, message];
        scrollToBottom();
    }

    async function getMessages() {
        const newMessages = <Message[]> await invoke('get_messages', {userId: currentChatInfo?.user.id});
        messages = <Message[]>[...messages, ...newMessages];
        scrollToBottom();
    }

    listen('new-message', (event) => {
        const message: Message = <Message> event.payload;
        if(message.userId === currentChatInfo?.user.id) {
            messages = [...messages, message];
        }
        scrollToBottom();
    });
    function scrollToBottom() {
        setTimeout(() => {
            mainElement.scrollTop = mainElement.scrollHeight;
        }, 100);
    }
</script>
{#if currentChatInfo != null}
    <main>
        <ChatInfoTop/>
        <section id="messages" bind:this={mainElement}>
            {#await getMessages()}
                    <div>loading...</div>
            {:then _}
                {#each sortedMessages as message}
                    <MessageBox {message}/>
                {/each}
            {/await}
        </section>
        <Inputs on:click={sendMessage} bind:value={input}/>
    </main>
{/if}

<style>
    main {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    #messages {
        margin-bottom: 2rem;
        overflow-y: auto;
    }
</style>