<script lang="ts">
    import TextInput from "$lib/components/chat/TextInput.svelte";
    import {createEventDispatcher} from "svelte";

    const dispatch = createEventDispatcher();
    export let value;

    let textInputElement;

    export function click(event) {
        dispatch('click', event);
        setTimeout(() => {
            textInputElement.clear();
        }, 100);

    }

    addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            dispatch('click', event);
            setTimeout(() => {
                textInputElement.clear();
            }, 100);
        }
    });
</script>

<footer>
    <button type="submit" on:click={click}>Send</button>
    <TextInput bind:this={textInputElement} bind:value/>
</footer>

<style lang="scss">
  footer {
    position: fixed;
    bottom: 0;

    width: calc(100% - 16rem);

    height: 25px;
    background-color: #ccc;
    border-top: 1px solid #1f1f1f;
    display: flex;
    align-items: flex-end;
    flex-flow: row-reverse;
    padding: 0.5rem;

    margin-top: auto;
  }
</style>