<script lang="ts">
    import MessageType from "$lib/components/chat/MessageType";
    import type Message from "$lib/components/chat/Message";

    export let message: Message;
</script>
{#if MessageType[message.messageType] === MessageType.RECEIVED}
    <article class='received' title={message.created}>{message.content}</article>
{:else if MessageType[message.messageType] === MessageType.SENT}
    <article class='sent' title={message.created}>{message.content}</article>
    {:else}
    <article>Message type does not exist</article>
{/if}


<style>
    article {
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;

        background: darkred;
    }

    article.received {
        background: white;
    }

    article.sent {
        background: orangered;
        text-align: right;
    }
</style>