<script lang="ts">
    export let value;

    export function clear() {
        value = '';
    }
</script>
<input type="text" on:change bind:value placeholder="Enter a message..."/>
<style>
    input {
        margin: 0 0.5rem;
        width: 100%;
    }
</style>