<div>
    <slot/>
</div>

<style lang="scss">
  $pad: 0.5rem;

  div {
    display: block;
    float: left;

    margin: 0;
    padding: $pad;

    width: calc(100vw - 205px - $pad * 2);
    height: calc(100vh - $pad * 2);

    background-color: #f5f5f5;
  }
</style>