<script lang="ts">

</script>
<!--<svelte:window on:contextmenu={(e) => {e.preventDefault()}}/>-->
<slot />
<style>
    :global(body) {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;

        overflow: hidden;

        font-family: 'Roboto', sans-serif;
    }
</style>