<script lang="ts">
    import {invoke} from "@tauri-apps/api";
    import Page from "$lib/components/page/Page.svelte";
    import NameChange from "$lib/components/settings/NameChange.svelte";
</script>
<Page>
    {#await invoke('is_first_run')}
    {:then is_first_run}
        {#if is_first_run}
            <NameChange afterLoc="/chat">
                <p>Looks like this is your first time running the app. Please enter your name.</p>
            </NameChange>
        {:else}
            <slot/>
        {/if}
    {/await}
</Page>