<script lang="ts">
    import SetupGuard from "$lib/components/page/SetupGuard.svelte";
    import Sidebar from "$lib/components/sidebar/Sidebar.svelte";
    import Content from "$lib/components/page/Content.svelte";
    import NameChange from "$lib/components/settings/NameChange.svelte";
    import SidebarMode from "$lib/components/sidebar/SidebarMode";
</script>
<SetupGuard>
    <Sidebar currentPage="Settings" mode={SidebarMode.SETTINGS}/>
    <Content>
        <h1>Settings</h1>
        <NameChange/>
        <p>
            <a href="/chat">&lt-- Go back</a>
        </p>
    </Content>
</SetupGuard>