<script lang="ts">
    import {invoke} from "@tauri-apps/api";

    let username = '';
    export let afterLoc = window.location.toString();

    function save_username() {
        if (!username) {
            console.error('Username is empty!');
        }

        invoke('save_username', {username}).then(() => {
            console.log('Username saved!');
            location.replace(afterLoc);
        });
    }
</script>

<main>
    <slot>
        <h4>Change name</h4>
        <p>Current name:
            {#await invoke('get_host_info')}
            {:then host_info}
                {host_info.name}
            {/await}
        </p>

    </slot>
    <label for="username">New name:</label> <input type="text" bind:value={username}/>
    <button on:click={save_username} type="submit">Submit</button>
</main>